h1 {
  color: #66bfbf;
  font-family: Sacramento;
}
h2 {
  color: #66bfbf;
  font-family: Montserrat;
}
h3 {
  color: #11999e;
  font-family: Montserrat;
}
p {
  font-family: Merriweather;
  color: #40514e;
}

body {
  display: block;
  height: auto;
  width: auto;
}

header {
  display: flexbox;
  background-color: #e4f9f5;
}
#top_cloud {
  display: flexbox;
  padding-left: 80%;
}
#bottom_cloud {
  display: flexbox;
  padding-left: 10%;
}
#mount {
  display: flexbox;
  margin: auto;
  width: 35%;
}
.max_w {
  max-width: 100%;
}
header h1,
h2 {
  text-align: center;
}

main {
  display: block;
  width: auto;
  height: auto;
  text-align: center;
  margin-left: 27%;
  margin-right: 27%;
}
.sec {
  display: flex;
  width: auto;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.box {
  text-align: justify;
  padding-left: 2%;
}

.img_main {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main button:hover {
  background-color: #30e3cb;
}
main button {
  font-family: Montserrat;
  border: none;
  background-color: #11cdd4;
  border-radius: 5px;
  padding: 10px 2em;
  font-weight: bold;
  color: #fff;
}

footer {
  display: block;
  width: auto;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  border: 5px solid blue;
}
