* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(229, 57%, 11%);
    background-image: url(./assets/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 100%;
}

.storageLeft {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-right: 10px;
}

.mainText {
    font-family: 'Raleway', sans-serif;
    font-size: 22.4px;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
    flex-basis: 80vw;
}


/***** options *****/

.options {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 30%;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 90px 10px 10px;
    box-shadow: 0px 10px 30px hsl(229, 57%, 11%);
}
.logo {
    padding: 40px 0px 30px 50px;
}

.uploadMethod {
    display: flex;
    width: 100%;
    padding: 0px 50px;
}
.uploadMethod div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
}
.uploadMethod div:not(:last-child) {
    margin-right: 20px;
}


/***** storage *****/
.storage {
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    height: 100%;
    flex-basis: 65%;
    /* justify-content: flex-end; */
}

.storageBox {
    position: absolute;
    top: 100%;
    width: 100%;
    transform: translate(0%, -100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 50px;
    height: 75%;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    box-shadow: 0px 10px 30px hsl(229, 57%, 11%);
}

/***** progress bar *****/
.progressBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.progressBar {
    background-color: hsl(229, 57%, 11%);
    height: 20px;
    width: 100%;
    outline: 2px solid hsl(229, 57%, 11%);
    border-radius: 50px;
}
.progressBarFill {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 100%;
    width: 70%;
    border-radius: 50px;
}
.progressBarBall {
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50px;
    outline: 2px solid hsl(335, 100%, 65%);
}
.minAndMax {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/***** white bar *****/
.whiteBarContainer {
    position: absolute;
    left: 90%;
    transform: translate(-100%,0%);
    z-index: 1;
}
.whiteBar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 190px;
    background-color: white;
    border-radius: 10px;
    padding: 0px 15px;
}
.triangle {
    position: absolute;
	border-top: 20px solid transparent;
	border-right: 35px solid white;
	border-bottom: 30px solid transparent;
    left: 100%;
    top: 100%;
    transform: translate(-100%,-70%);
}
.whiteBar .mainText {
    color: rgb(168, 167, 167);
    font-size: 16px;
}



/***** mobile *****/
@media (max-width: 1050px) {
    body {
        background-image: url(./assets/bg-mobile.png);
        background-size: cover;
        background-position: center;
    }
    .main {
        flex-direction: column;
        height: 65%;
        flex-basis: 85vw;
    }
    .mainText {
        font-size: 1.1em;
    }
    .options {
        flex-basis: 45%;
        justify-content: space-around;
        border-radius: 15px 90px 15px 15px;
        padding: 3vh;
    }

    .storage {
        flex-basis: 50%;
    }
    .logo {
        /* display: flex;
        align-items: stretch; */
        padding: 3vw;

    }
    .logo img {
        height: 6vh;
    }
    .uploadMethod {
        width: auto;
        padding: 0px 1vw;
    }
    .uploadMethod div {
        width: 8vh;
        height: 8vh;
        align-items: stretch;
        padding: 2vh;
    }
    .storageBox {
        border-radius: 15px;
        padding: 3vh 7vw;
        text-align: center;
        height: 75%;
        top: 25vh;
    }
    .whiteBarContainer {
        left: 50%;
        bottom: -20%;
        transform: translate(-50%,0%);
    }
    .whiteBar {
        justify-content: space-around;
        height: 100px;
        width: 250px;
        background-color: white;
        border-radius: 15px;
    }
    .storageLeft {
        margin-right: 5px;
    }
    .triangle {
        border-right: 35px solid transparent;
    }
    .whiteBar .mainText {
        font-size: 22.4px;
    }
}