
body{
    margin:0;
    padding:0;
    font-family: 'Raleway',sans-serif;
}
/*Main Section */
#container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:hsl(229, 57%, 11%) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainContent{
    z-index: 1000;
}
.content{
    padding: 20px;
    background-color: hsl(228, 56%, 26%);
    vertical-align: bottom;
    display: inline-block;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,45);

}
/*Fylo logo and buttons section*/
#leftContent{
    z-index:1000;
    padding-right: 100px;
    margin-right: 20px;
    border-radius: 10px 50px 10px 10px;
}
#actions{
    margin-top: 20px;
}
.actionButton{
    background-color: hsl(229, 57%, 11%);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    vertical-align:top;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin: 5px 0;
    cursor: pointer;
}
.actionButton:first-of-type{
    margin-left: 0;
}
/*Progress Bar section*/
#rightContent{
    color:white;
    border-radius: 10px;
    position: relative;
}
#usage{
    font-size: 12px;
}
#currentUsage{
    font-weight:700;
}
#usageBar{
    background-color:hsl(229,54%,18%);
    width:450px;
    height: 14px;
    border-radius: 1000px;
    border: 3px solid hsl(229,54%,18%);
    position: relative;
}
#usageFill{
    width:81.5%;
    height: 100%;
    border-radius: 1000px;
    background: linear-gradient(90deg,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
}
#usageBall{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 1000px;
    position: absolute;
    top: 2px;
    right:calc( 18.5% + 2px);
}
.usageLimit{
    font-size: 10px;
    font-weight: 700;
}
#usageMaxLimit{
    position: absolute;
    right: 30px;
    bottom: 20px;
}
#usageLeft{
    position: absolute;
    background: white;
    right: 30px;
    top: -50px;
    color: hsl(229,57%,11%);
    padding: 15px;
    border-radius: 10px 10px 0 10px;
    font-size: 12px;
    margin: 0;
    color: hsl(229,7%,55%) ;

}
#usageLeft::before{
    content: "";
    background: white;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    bottom: -20px;
    clip-path: polygon(100% 0,0 0,100% 100%);

}
#usageRemaining{
    font-size: 24px;
    font-weight: 700;
    color: black;
}
/* Container background*/
#background{
    background-image: url(./assets/bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 50vh;
}


/* Mobile */
@media(max-width:890px){
    #mainContent{
        width: calc(100% - 40px);
    }
    .content{
        display: block;
        margin: auto;
    }
    #leftContent{
        padding-top: 50px;
        margin-bottom: 20px;
        margin-right: 0;
        border-radius: 10px 100px 10px 10px;
    }
    #usage{
        text-align: center;
    }
    #usageBar{
        width: 100%;
    }
    #usageLeft{
        border-radius:10px;
        right: unset;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        color: hsl(229,7%,55%) ;

    }
     #usageLeft::before{
        display: none;
     }
     #usageMaxLimit{
        right: 25px;
        bottom: 30px;
     }
     .logo{
        padding-bottom: 10px;
     }
     #bacgkround{
        background: url(./assets/bg-mobile.png);
        height: 100%;
        top: 0;
    }
    #usageRemaining{
        color: black;
    }

}