/* .background-decoration {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: absolute;
    height: 380px;
    width: 100%;
    top: 511px;
    border-radius: 175px 0 0 0;
} */