.logo {
  margin: auto;
  padding-left: 52px;
  padding-top: 20px;
}
.bouttens {
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.doc {
  background-color: hsl(229, 57%, 11%);
  height: 24px;
  width: 20px;
  order: 1;
}
.upload {
  background-color: hsl(229, 57%, 11%);
  order: 2;
}
.folder {
  background-color: hsl(229, 57%, 11%);
  order: 3;
}
