.logo {
  padding: 6%;
}
.svgs {
  display: inline-block;
  margin: auto;
}
.bouttens {
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.doc {
  padding: 5%;
  background-color: hsl(229, 57%, 11%);
  order: 1;
  border-radius: 10px 10px 10px 10px;
}
.upload {
  padding: 5%;
  background-color: hsl(229, 57%, 11%);
  order: 2;
  border-radius: 10px 10px 10px 10px;
}
.folder {
  padding: 5%;
  background-color: hsl(229, 57%, 11%);
  order: 3;
  border-radius: 10px 10px 10px 10px;
}
