body {
  display: flex;
  background-color: hsl(229, 57%, 11%);
  background-image: url("../assets/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: contain;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: block;
  width: auto;
  height: auto;
  margin-left: 33%;
  margin-top: 6%;
  position: relative;
}
.boxes {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  align-items: flex-end;
  width: 80%;
}
.left_b {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background: hsl(228, 56%, 26%);
  order: 1;
  height: 180px;
  width: 410px;
  border-radius: 10px 60px 10px 10px;
}
.right_b {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: hsl(228, 56%, 26%);
  order: 2;
  height: 110px;
  width: 512px;
  border-radius: 10px 10px 10px 10px;
}
